<div class="sidebar">
    <h2>HOA Management</h2>
    <ul>
        <li>
            <a routerLink="/home">
                <i class="fas fa-home"></i>
                Dashboard
            </a>
        </li>
        <li>
            <a routerLink="/payment">
                <i class="fas fa-dollar-sign"></i>
                Payment and Dues
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-users"></i>
                Residents
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-calendar-alt"></i>
                Events
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-file-alt"></i>
                Rules and Docs
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-tools"></i>
                Maintenance
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-comments"></i>
                Communication
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-cog"></i>
                Settings
            </a>
        </li>
    </ul>
</div>

